.floating-window {
  position: fixed;
  top: 50px;  /* Adjust as needed */
  left: 50px; /* Adjust as needed */
  width: 150px;
  height: 190px;
  background: rgba(190, 32, 190, 1); /* Solid purple background */
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1000;
  cursor: move; /* Indicates the window can be moved */
}

.card-border-top {
  width: 60%;
  height: 5px; /* Adjusted for visibility */
  background: rgba(201, 164, 240, 0.5);
  margin: auto;
  border-top: 1px solid #ddd;
  border-radius: 0px 0px 15px 15px;
}

.btn {
  padding: 8px 25px;
  width: 120px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  background-color: rgba(201, 164, 240, 0.5);
  color: white;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #534bf3; /* Dark purple on hover */
}
