#container {
    position: relative;
}

.textLayer span {
    user-select: text;
}

#customMenu {
    color: black;
    display: none;
    position: absolute;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:25px;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
}