html {
  height: 100%;
  width: 100%;
}

body {
  padding: 10px;
}

#fontSizeInput {
  width: 26px;
  font-size: 9px;
}

#fontFamilySelect {
  width: 70px;
  font-size: 11px;
}

.ghost-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px; /* Match the image's width */
  height: 10px; /* Match the image's height */
  background-color: transparent; /* Make it invisible */
  z-index: 9995; /* Ensure it's above other elements */
}

button {
  background-color: #6200ee;
  /* Primary button color */
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 4px;
  /* Rounded corners for buttons */
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

input[type="number"],
select {
  border: 2px solid #d3d3d8;
  padding: 2.5px 5px;
  border-radius: 4px;
  /* Consistent rounded corners */
  color: #333;
  background-color: #fff;
}



button:hover {
  box-shadow: 0 4px 20px rgba(98, 0, 238, 0.3);
  /* Glowing effect on hover */
  transform: translateY(-2px);
  /* Slight raise effect */
}


#toolbox {
  padding: 2px;
  border: 2px solid #d3d3d8;
  /* Light gray border */
  background-color: #ffffff;
  /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  z-index: 1000;
  /* Ensure it stays on top of other elements */
  position: fixed;
  /* Fixed at the top */
  width: 100%;
  /* Full width */
  top: 0;
  /* Align to the top */
}

.resize-handle {
  width: 15px;
  height: 15px;
  background-color: blue;
  position: absolute;
  z-index: 1010;
  display: none;
  /* Initially hide handles */
}

.container {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  z-index: 1000;
  float: left;
  margin-right: 10px;
}

.text-container {
  margin-top: 20px;
}

#context-menu_image {
  z-index: 1011;
  font-size: 9px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Ensure it is above other elements */
}

#context-menu_image .child:hover {
  background-color: gray;
}

.pagebook {
  border: 1px solid #000;
  border: 2px solid black;
  background-color: white;
  margin: 2px;
  padding: 4px;
  font-size: 11px;
  margin: 10px 0;
  overflow: hidden;
  height: 400px;
  width: 400px;
  position: relative;
  transform: translate(100%, 0);
}

/* .pagebook>div {
  background-color: yellow;
} */
.image-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.image-wrapper img {
  display: block;
}

.katexspan:hover {
  background-color: gray;
}

.katex:hover {
  background-color: gray;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  /* Above everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Semi-transparent black background */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* Centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  /* Shadow for depth */
}

.Newline_equation:hover {
  background-color: gray;
}

td {
    min-width: 50px; /* Approximate minimum width for one word */
    min-height: 50px; /* Minimum height based on font size and padding */
    padding: 4px; /* Padding inside the cell */
    border: 1px solid #ccc; /* Border for better visibility */
    font-size: 11px; /* Set font size to 11px */
}

.modal_newline {
  display: none;
  position: fixed;
  z-index: 1001;
  /* Above everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Semi-transparent black background */
}

.modal-content_newline {
  background-color: #fefefe;
  margin: 15% auto;
  /* Centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  /* Shadow for depth */
}